﻿@{
    Layout = "~/Views/Home/_HomePageLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#overviewDiv").show();
        $("#unsaltedAttackDiv").hide();
        $("#saltedAttackDiv").hide();

        function removeAndAddActiveClass(element) {
            $("#overviewLink").parent().removeClass("active");
            $("#unsaltedLink").parent().removeClass("active");
            $("#saltedLink").parent().removeClass("active");
            $(element).parent().addClass("active");
        }
        $("#overviewLink").click(function (e) {
            removeAndAddActiveClass("#overviewLink");
            $("#overviewDiv").show();
            $("#unsaltedAttackDiv").hide();
            $("#saltedAttackDiv").hide();
        });

        $("#unsaltedLink").click(function () {
            removeAndAddActiveClass("#unsaltedLink");
            $("#overviewDiv").hide();
            $("#unsaltedAttackDiv").show();
            $("#saltedAttackDiv").hide();
        });

        $("#saltedLink").click(function () {
            removeAndAddActiveClass("#saltedLink");
            $("#overviewDiv").hide();
            $("#unsaltedAttackDiv").hide();
            $("#saltedAttackDiv").show();
        });

        function getProgress(attackType)
        {
            var countUrl = "/Home/GetUnsaltedCount";
            var updateElement = "#unsaltedProgressTxt";
            var timeOut = 1000;
            if (attackType == "salted") {
                countUrl = "/Home/GetSaltedCount";
                updateElement = "#saltedProgressTxt";
                timeOut = 2000;
            }
            $.ajax({
                url: countUrl,
                type: "POST",
                    success: function (data, textStatus, jqXHR) {
                        $(updateElement).val($(updateElement).val() + "\n" +
                            (new Date()).toString() + "       Processed " + data + " records");
                        if (data < 1000000) {
                            // Send after some seconds
                            setTimeout(function () {
                                getProgress(attackType)
                            }, timeOut);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Unknown error in GetProgress : " + errorThrown);
                    }
                });
        }
        $("#unsaltedBtn").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/LaunchUnsaltedDictionaryAttack",
                datatype: "json",
                success: function (data, textStatus, jqXHR) {
                    alert("The request was sent. Response Message: " + data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unknown error: " + errorThrown);
                }
            });
            getProgress("unsalted");
        });
        $("#saltedBtn").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/LaunchSaltedDictionaryAttack",
                datatype: "json",
                success: function (data, textStatus, jqXHR) {
                    alert("The request was sent. Response Message: " + data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unknown error: " + errorThrown);
                }
            });
            getProgress("salted");
        });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#" id="overviewLink">Overview</a></li>
                <li><a href="#" id="unsaltedLink">Unsalted Attack</a></li>
                <li><a href="#" id="saltedLink">Salted Attack</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="overviewDiv">
            <h1 class="page-header">Dictionary Attacks</h1>
            <br />
            <table style="width:100%">
                <tr>
                    <td style="width:50%">
                        <img src="~/Content/dictionary_attack1.png" style="width:100%"/>
                    </td>
                    <td style="width:50%">
                        <img src="~/Content/dictionary_attack2.png"  style="width:100%"/>
                    </td>
                </tr>
            </table>
            

            <br />
            <span style="font-size:large">
                A dictionary attack is a attack in which the hacker tries to guess the passwords of the users
                by trying a list of commonly used password ("Dictionary"). The impact of dictionary attacks can be
                mitigated by using salting in the database along with a strong password policy. Each user should have
                their own salt. Implementing a common salt for all the users is not sufficient since once the salt has
                been guessed, then the password can be easily looked up. Gawker media was hacked in 2010 
                and it was suspected that the offline attack was used .
                <a target="_blank" href="https://www.theguardian.com/technology/2010/dec/29/gawker-hacking-gnosis-six-months">
                    Gawker Media Hacked. Dictionary attack was suspected.
                </a>
            </span>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="unsaltedAttackDiv">
            <h1 class="page-header">Unsalted Dictionary Attack</h1>
            <br />
            <button type="button" id="unsaltedBtn">Launch Unsalted Attack</button>
            <br/>
            <br/>
            <textarea id="unsaltedProgressTxt" style="width:100%; overflow-y:scroll" rows="20"></textarea>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="saltedAttackDiv">
            <h1 class="page-header">Salted Dictionary Attack</h1>
            <br />
            <button type="button" id="saltedBtn">Launch Salted Attack</button>
            <br />
            <br />
            <textarea id="saltedProgressTxt" style="width:100%; overflow-y:scroll" rows="20"></textarea>
        </div>
   </div>
</div>

