﻿@{
    Layout = "~/Views/Home/_HomePageLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#overviewDiv").show();
        $("#tableListDiv").hide();
        $("#sqlExecuteAttackDiv").hide();
        $("#sqlParamQueriesDiv").hide();
        $("#sqlStoredProcDiv").hide();

        $("#tableList").jqGrid({
            url: "/Home/GetTableList",
            datatype: "json",
            mtype:"POST",
            height: 200,
            pginput: false,
            pgbuttons: false,
            viewrecords: false,
            width: window.innerWidth * 0.7,
            //shrinkToFit: false,
            //autowidth: true,
            hidegrid: false,
            colNames: ["Table Name", "Rows"],
            colModel: [
                { name: "TName", index: "TName", sortable:false, width:window.innerWidth * 0.35},
                { name: "Rows", index: "Rows", sortable: false, width: window.innerWidth * 0.35 }
            ],
            caption: "Table List"
        });

        function submitForm(email, password, attackType) {
            $.ajax({
                type: "POST",
                url: "/Home/LoginSQL",
                datatype: "json",
                data: { 'email': email, 'password': password, 'attackType': attackType },
                success: function (data, textStatus, jqXHR) {
                    alert("The request was sent. Response Message: " + data);
                    $("#tableList").trigger("reloadGrid");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unknown error: " + textStatus);
                }
            });
        }

        function removeAndAddActiveClass(element) {
            $("#overviewLink").parent().removeClass("active");
            $("#execLink").parent().removeClass("active");
            $("#paramLink").parent().removeClass("active");
            $("#spLink").parent().removeClass("active");
            $(element).parent().addClass("active");
        }
        $("#overviewLink").click(function (e) {
            removeAndAddActiveClass("#overviewLink");
            $("#overviewDiv").show();
            $("#tableListDiv").hide();
            $("#sqlExecuteAttackDiv").hide();
            $("#sqlParamQueriesDiv").hide();
            $("#sqlStoredProcDiv").hide();
            e.stopPropagation();
        });
        $("#execLink").click(function (e) {
            removeAndAddActiveClass("#execLink");
            $("#overviewDiv").hide();
            $("#tableListDiv").show();
            $("#sqlExecuteAttackDiv").show();
            $("#sqlParamQueriesDiv").hide();
            $("#sqlStoredProcDiv").hide();
            e.stopPropagation();
        });
        $("#paramLink").click(function (e) {
            removeAndAddActiveClass("#paramLink");
            $("#overviewDiv").hide();
            $("#tableListDiv").show();
            $("#sqlExecuteAttackDiv").hide();
            $("#sqlParamQueriesDiv").show();
            $("#sqlStoredProcDiv").hide();
            e.stopPropagation();
        });
        $("#spLink").click(function (e) {
            removeAndAddActiveClass("#spLink");
            $("#overviewDiv").hide();
            $("#tableListDiv").show();
            $("#sqlExecuteAttackDiv").hide();
            $("#sqlParamQueriesDiv").hide();
            $("#sqlStoredProcDiv").show();
            e.stopPropagation();
        });

        $("#exSubmit").click(function (e) {
            submitForm($("#execEmail").val(), $("#execPassword").val(), "plain");
            e.stopPropagation();
        });
        $("#paramSubmit").click(function (e) {
            submitForm($("#paramEmail").val(), $("#paramPassword").val(), "param");
            e.stopPropagation();
        });
        $("#spSubmit").click(function (e) {
            submitForm($("#spEmail").val(), $("#spPassword").val(), "stored");
            e.stopPropagation();
        });

    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#" id="overviewLink">Overview</a></li>
                <li><a href="#" id="execLink">Execute Attack</a></li>
                <li><a href="#" id="paramLink">Parametrized Queries</a></li>
                <li><a href="#" id="spLink">Stored Procedure</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="overviewDiv">
            <h1 class="page-header">SQL Injection Overview</h1>
            <br/>
            <img src="~/Content/sql_injection.jpg" height="50%" width="50%" style="margin-left:auto; margin-right:auto;display:block"/>
            
            <br/>
            <span style="font-size:large">
                SQL injection is a type of attack in which a SQL query is inputted as an input value to the application. This query is then executed
                on the database leading to issues. The query is usually of the form :- {some_value}';{SQL_Query};--
                <br/>
                It is not necessary that the attacker knows the SQL Object names in order to execute a successful attack. The attack on Sony's websites
                in 2011 is one of the incidents where the attackers used SQL Injection in order to retrieve the users'
                account information along with their plaintext passwords. 
                <a target="_blank" href="http://arstechnica.com/tech-policy/2011/06/sony-hacked-yet-again-plaintext-passwords-posted/">
                    Sony's attack article
                </a>
            </span>
            
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="sqlExecuteAttackDiv">
            <h1 class="page-header">Execute Attack</h1>
            <br/>
            <div class="form-group row">
                <label for="execEmail" class="col-sm-2 form-control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="execEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="execPassword" class="col-sm-2 form-control-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="execPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-secondary" id="exSubmit">Sign in</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="sqlParamQueriesDiv">
            <h1 class="page-header">Parametrized Queries</h1>
            <br />
            <div class="form-group row">
                <label for="paramEmail" class="col-sm-2 form-control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="paramEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="paramPassword" class="col-sm-2 form-control-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="paramPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-secondary" id="paramSubmit">Sign in</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="sqlStoredProcDiv">
            <h1 class="page-header">Stored Procedure</h1>
            <br />
            <div class="form-group row">
                <label for="spEmail" class="col-sm-2 form-control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="spEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="spPassword" class="col-sm-2 form-control-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="spPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-secondary" id="spSubmit">Sign in</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tableListDiv">
            <table id="tableList"></table>
        </div>
        </div>
</div>