﻿
@{
    Layout = "~/Views/Home/_HomePageLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#overviewDiv").show();
        $("#alertAttackDiv").hide();
        $("#cookieAttackDiv").hide();
        $("#testAttackDiv").hide();
        $("#preventAttackDiv").hide();

        function removeAndAddActiveClass(element) {
            $("#overviewLink").parent().removeClass("active");
            $("#alertLink").parent().removeClass("active");
            $("#cookieLink").parent().removeClass("active");
            $("#testLink").parent().removeClass("active");
            $("#preventLink").parent().removeClass("active");
            $(element).parent().addClass("active");
        }
        $("#overviewLink").click(function (e) {
            removeAndAddActiveClass("#overviewLink");
            $("#overviewDiv").show();
            $("#alertAttackDiv").hide();
            $("#cookieAttackDiv").hide();
            $("#testAttackDiv").hide();
            $("#preventAttackDiv").hide();
        });

        $("#alertLink").click(function (e) {
            removeAndAddActiveClass("#alertLink");
            $("#overviewDiv").hide();
            $("#alertAttackDiv").show();
            $("#cookieAttackDiv").hide();
            $("#testAttackDiv").hide();
            $("#preventAttackDiv").hide();
            e.stopPropagation();
        });
        $("#cookieLink").click(function (e) {
            removeAndAddActiveClass("#cookieLink");
            $("#overviewDiv").hide();
            $("#alertAttackDiv").hide();
            $("#cookieAttackDiv").show();
            $("#testAttackDiv").hide();
            $("#preventAttackDiv").hide();
            e.stopPropagation();
        });
        $("#testLink").click(function (e) {
            removeAndAddActiveClass("#testLink");
            $("#overviewDiv").hide();
            $("#alertAttackDiv").hide();
            $("#cookieAttackDiv").hide();
            $("#testAttackDiv").show();
            $("#preventAttackDiv").hide();
            e.stopPropagation();
        });
        $("#preventLink").click(function (e) {
            removeAndAddActiveClass("#preventLink");
            $("#overviewDiv").hide();
            $("#alertAttackDiv").hide();
            $("#cookieAttackDiv").hide();
            $("#testAttackDiv").hide();
            $("#preventAttackDiv").show();
            e.stopPropagation();
        });

        function submitForm(email, scriptData, fetchType) {
            document.cookie = "securityattackcookie_" + email + "=This is : " + email;
            $.ajax({
                type: "POST",
                url: "/Home/XSSScriptAttack",
                datatype: "json",
                data: { 'username': email, 'data': scriptData, 'fetchType': fetchType },
                success: function (data, textStatus, jqXHR) {
                    alert("The request was sent. Response Message: " + data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unknown error: " + textStatus);
                }
            });
        }

        function submitLoginForm(email, password) {
                $.ajax({
                    type: "POST",
                    url: "/Home/XSSValidateLogin",
                    datatype: "json",
                    data: { 'username': email, 'password': password },
                    success: function (data, textStatus, jqXHR) {
                        $("#outputData").html(data);
                        
                        //alert(document.cookie);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Unknown error: " + textStatus);
                    }
                });
        }

        $("#alertSubmit").click(function (e) {
            submitForm($("#execEmail").val(), $("#scriptTxBox").val(), "attack");
            e.stopPropagation();
        });
        $("#cookieSubmit").click(function (e) {
            submitForm($("#cookieEmail").val(), $("#cookieScriptTxBox").val(), "attack");
            e.stopPropagation();
        });
        $("#testSubmit").click(function (e) {
            //submitForm($("#spEmail").val(), $("#spPassword").val(), "stored")
            submitLoginForm($("#testEmail").val(), $("#testPassword").val(),"script");
            e.stopPropagation();
        });
        $("#preventSubmit").click(function (e) {
            submitForm($("#preventEmail").val(), $("#preventScriptTxBox").val(), "prevent");
            e.stopPropagation();
        });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#" id="overviewLink">Overview</a></li>
                <li><a href="#" id="alertLink">Execute Script Attack</a></li>
                <li><a href="#" id="cookieLink">Execute Cookie Attack</a></li>
                <li><a href="#" id="testLink">Test Script Attack</a></li>
                <li><a href="#" id="preventLink">Prevent Script Attack</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="overviewDiv">
            <h1 class="page-header">XSS Attacks</h1>
            <br />
            <img src="~/Content/xss_attack.png" height="50%" width="50%" style="margin-left:auto; margin-right:auto;display:block" />

            <br />
            <span style="font-size:large">
                XSS attacks are a type of attacks in which a malicious user sends a script as an input value to the
                server. The server stores the script without sanitizing it. As a result, when that script is returned
                in the results for another user, then that script gets executed in the second user's browser. 
                The script can be used to retrieve any cookie or any other sensitive information available to the
                website. It can also be used to redirect the user to a "false" website where the unsuspecting user
                can enter their credentials. This actually happened in 2014 when hackers injected Javascript commands
                into eBay's listings. When the eBay users clicked on that link, then they were redirected to a phising
                page
                <a target="_blank" href="http://www.infosecurity-magazine.com/news/ebay-under-fire-after-cross-site/">
                    XSS attack on eBay
                </a>  
            </span>

        </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="alertAttackDiv">
                <h1 class="page-header">Execute Script Attack</h1>
                <br />
                <div class="form-group row">
                    <label for="execEmail" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="execEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="scriptTxBox" class="col-sm-2 form-control-label">Script</label>
                    <div class="col-sm-10">
                        <textarea id="scriptTxBox" placeholder="Script" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-secondary" id="alertSubmit">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="cookieAttackDiv">
                <h1 class="page-header">Execute Cookie Attack</h1>
                <br />
                <div class="form-group row">
                    <label for="cookieEmail" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="cookieEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cookieScriptTxBox" class="col-sm-2 form-control-label">Script</label>
                    <div class="col-sm-10">
                        <textarea id="cookieScriptTxBox" placeholder="Script" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-secondary" id="cookieSubmit">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="testAttackDiv">
                <h1 class="page-header">Test Script Attack</h1>
                <br />
                <div class="form-group row">
                    <label for="testEmail" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="testEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="testPassword" class="col-sm-2 form-control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="testPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-secondary" id="testSubmit">Sign in</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span id="outputData"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="preventAttackDiv">
                <h1 class="page-header">Prevent Script Attack</h1>
                <br />
                <div class="form-group row">
                    <label for="preventEmail" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="preventEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="preventScriptTxBox" class="col-sm-2 form-control-label">Script</label>
                    <div class="col-sm-10">
                        <textarea id="preventScriptTxBox" placeholder="Script" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-secondary" id="preventSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
</div>

